@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

section {
  width: 1000px;
  height: 450px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
}
div {
  width: 200px;
  height: 95%;
  padding: 20px;
  margin: 10px;
  background: #edfaf0;
  box-sizing: border-box;
  text-align: center;
}
p {
  background: rgb(10, 179, 4);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
